@model WebBanThucAnNhanh.Models.GioHang

@{
    ViewBag.Title = "ShowMonAn";
    Layout = "~/Areas/QuanLy/Views/Shared/_Layout.cshtml";
}

<h2>ShowMonAn</h2>
<a href="@Url.Action("Index","MonAn")">Tiếp tục mua hàng</a>
@if(Model != null)
 {
<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Hình sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            decimal total = item._quantity * (decimal)item._monan.GIABAN;
            <tr>
                <td>@Html.DisplayFor(model => item._monan.TENMONAN)</td>
                <td><img src="@Url.Content(item._monan.HINHANH)" height="50" width="50" /></td>
                <td>@Html.DisplayFor(model => item._monan.GIABAN)</td>
                <td>
                    @using (Html.BeginForm("Update_Cart_Quantity", "ShoppingCart"))
                    {
                        <input type="hidden" value="@item._monan.MAMONAN" name="idPro" />
                        <input type="number" value="@item._quantity" name="cartQuantity" />
                        <input type="submit" value="Update" />
                    }
                </td>
                <td>@total</td>
                <td>
                    <a href="/ShoppingCart/RemoveCart/@item._monan.MAMONAN">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" style="text-align:right">Tổng tiền: @Model.Total_money()</td>
        </tr>
    </tfoot>
</table>
 }
