@model WebBanThucAnNhanh.Models.NHANVIEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/QuanLy/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Delete", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()
     <h3> Xóa nhân viên </h3 >
        
         <div>
           <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

    </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
</div>
}
